nav.language-switcher {
    margin: 25px 0;

    ul {
        display: inline;
        padding-left: 5px;

        li {
            display: inline;
            cursor: pointer;
            padding: 10px;
            background-color: #f8f8f8;

            &.active {
                background-color: #222c37;
                color: #fff;
            }
        }
    }
}

nav.runner-switcher {
    @extend .language-switcher;
}