#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

torch>=2.2.0,<2.8.0
torchvision>=0.17.0,<0.21.0
timm>=1.0.7
Pillow>=10.0.0
numpy>=1.25.0
google-cloud-pubsub>=2.15.0
google-cloud-monitoring>=2.27.0
protobuf>=4.25.1
requests>=2.31.0
