target/

# Ignore IntelliJ files.
.idea/
*.iml
*.ipr
*.iws

# Ignore Eclipse files.
.classpath
.project
.settings/

# The build process generates the dependency-reduced POM, but it shouldn't be
# committed.
dependency-reduced-pom.xml
