#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#

Ahmet Altay <altay@google.com>
Ben Chambers <bchambers@google.com>
Benson Margulies <bimargulies@google.com>
Chamikara Jayalath <chamikara@google.com>
Charles Chen <ccy@google.com>
Dan Halperin <dhalperi@google.com>
Dan Halperin <dhalperi@users.noreply.github.com>
Dan Halperin <daniel@halper.in>
Davor Bonaci <davor@google.com>
Davor Bonaci <davorbonaci@users.noreply.github.com>
Daniel Mills <millsd@google.com>
Eugene Kirpichov <kirpichov@google.com>
Frances Perry <fjp@google.com>
Henning Rohde <herohde@google.com>
Jason Kuster <jasonkuster@google.com>
Kenneth Knowles <klk@google.com>
Luke Cwik <lcwik@google.com>
Manu Zhang <owenzhang1990@gmail.com>
Marco Buccini <mbuccini@talend.com>
Marco Buccini <marcmarcusbu@gmail.com>
Mark Shields <markshields@google.com>
Pablo <pabloem@google.com>
Pablo <polecito.em@gmail.com>
Pei He <peihe@google.com>
Pei He <peihe@users.noreply.github.com>
Pei He <hepeimail@gmail.com>
Robert Bradshaw <robertwb@google.com>
Sam McVeety <sgmc@google.com>
Sam McVeety <sam.mcveety@gmail.com>
Scott Wegner <swegner@google.com>
Silviu Calinoiu <silviuc@google.com>
Slaven Bilac <slaven@google.com>
Stas Levin <staslevin@gmail.com>
Thomas Groh <tgroh@google.com>
