# This file is used for auto-assigning reviewers to PRs.
#
# The last matching rule wins. For details, see:
# https://help.github.com/articles/about-codeowners/

# Per-language reviewers.
*.go @herohde @person2 @person3
*.java @person1 @person2 @person3
*.py @pabloem @robertwb @person3

# SDK components reviewers.
/sdks/go/ @herohde @person2 @person3

/sdks/java/ @person1 @person2 @person3
/sdks/java/core @person1 @person2 @person3
/sdks/java/extensions @person1 @person2 @person3
/sdks/java/container @herohde @person2 @person3
/sdks/java/fn-execution @person1 @person2 @person3
/sdks/java/nexmark @person1 @person2 @aromanenko-dev
/sdks/java/build-tools @person1 @person2 @person3
/sdks/java/harness @person1 @person2 @person3
/sdks/java/io @jbonofre @person2 @person3
/sdks/java/io/parquet @lgajowy @jbonofre @aromanenko-dev
/sdks/java/io/common @person1 @person2 @person3
/sdks/java/io/file-based-io-tests @lgajowy @kkucharc @person3
/sdks/java/io/elasticsearch-tests @person1 @person2 @person3
/sdks/java/io/amazon-web-services @person1 @person2 @person3
/sdks/java/io/google-cloud-platform @person1 @person2 @person3
/sdks/java/io/hadoop-input-format @aromanenko-dev @person2 @person3
/sdks/java/io/solr @person1 @person2 @person3
/sdks/java/io/kinesis @aromanenko-dev @person2 @person3
/sdks/java/io/redis @jbonofre @person2 @person3
/sdks/java/io/mongodb @jbonofre @person2 @person3
/sdks/java/io/hcatalog @person1 @person2 @person3
/sdks/java/io/elasticsearch @jbonofre @person2 @person3
/sdks/java/io/jdbc @jbonofre @person2 @person3
/sdks/java/io/mqtt @jbonofre @person2 @person3
/sdks/java/io/hadoop-file-system @person1 @person2 @person3
/sdks/java/io/amqp @jbonofre @person2 @person3
/sdks/java/io/cassandra @jbonofre @person2 @person3
/sdks/java/io/tika @person1 @person2 @person3
/sdks/java/io/xml @person1 @person2 @person3
/sdks/java/io/kafka @person1 @person2 @person3
/sdks/java/io/jms @jbonofre @person2 @person3
/sdks/java/io/hbase @person1 @aromanenko-dev @person3
/sdks/java/io/hadoop-common @person1 @person2 @person3
/sdks/java/maven-archetypes @person1 @person2 @person3
/sdks/java/javadoc @person1 @person2 @person3

/sdks/python/ @person1 @person2 @person3
/sdks/python/scripts @person1 @person2 @person3
/sdks/python/container @herohde @person2 @person3
/sdks/python/apache_beam/runners @pabloem @person2 @person3
/sdks/python/apache_beam/utils @pabloem @person2 @person3
/sdks/python/apache_beam/examples @person1 @person2 @person3
/sdks/python/apache_beam/internal @person1 @person2 @person3
/sdks/python/apache_beam/tools @pabloem @person2 @person3
/sdks/python/apache_beam/coders @person1 @person2 @person3
/sdks/python/apache_beam/portability @person1 @person2 @person3
/sdks/python/apache_beam/typehints @person1 @person2 @person3
/sdks/python/apache_beam/options @pabloem @person2 @person3
/sdks/python/apache_beam/transforms @pabloem @person2 @person3
/sdks/python/apache_beam/testing @pabloem @person2 @person3
/sdks/python/apache_beam/metrics @pabloem @person2 @person3
/sdks/python/apache_beam/io @person1 @person2 @person3

# Build and test infrastructure reviewers.
/.github @person1 @person2 @person3
/.test-infra @lgajowy @person2 @person3
/.test-infra/jenkins @lgajowy @kkucharc @person3
/.test-infra/jupyter @person1 @person2 @person3
/.test-infra/kubernetes @lgajowy @kkucharc @person3
/buildSrc @person1 @person2 @person3
/gradle @person1 @person2 @person3
/release @jbonofre @person2 @person3
/release/src @person1 @person2 @person3
/website/.jenkins @person1 @person2 @person3
build.gradle @person1 @person2 @person3

# Even more components reviewers.
/runners @person1 @person2 @person3
/runners/samza @person1 @person2 @person3
/runners/gcp @pabloem @herohde @person3
/runners/apex @person1 @person2 @person3
/runners/core-java @person1 @person2 @person3
/runners/local-java @person1 @person2 @person3
/runners/java-fn-execution @person1 @person2 @person3
/runners/core-construction-java @person1 @person2 @person3
/runners/flink @person1 @person2 @person3
/runners/spark @jbonofre @person2 @person3
/runners/reference @person1 @person2 @person3
/runners/gearpump @person1 @person2 @person3
/runners/extensions-java @person1 @person2 @person3
/runners/google-cloud-dataflow-java @pabloem @person2 @person3
/runners/direct-java @person1 @person2 @person3

/examples @person1 @person2 @person3
/examples/java @person1 @person2 @person3

/model @herohde @person2 @person3
/model/fn-execution @herohde @robertwb @person3
/model/job-management @herohde @robertwb @person3
/model/pipeline @herohde @robertwb @person3

/website @person1 @person2 @person3
/website/src @person1 @person2 @person3
