#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This file is used for auto-assigning reviewers to PRs.
#
# The last matching rule wins. For details, see:
# https://help.github.com/articles/about-codeowners/

# Per-language reviewers.
*.go @herohde
*.java @lukecwik @kennknowles @aaltay
*.py @pabloem @robertwb @aaltay @charlesccychen

# SDK components reviewers.
/sdks/go/ @herohde

/sdks/java/ @aaltay @kennknowles
/sdks/java/core @lukecwik
#/sdks/java/extensions
/sdks/java/extensions/google-cloud-platform-core @lukecwik @chamikaramj
#/sdks/java/extensions/jackson
#/sdks/java/extensions/join-library
#/sdks/java/extensions/protobuf
#/sdks/java/extensions/sketching
#/sdks/java/extensions/sorter
/sdks/java/extensions/sql @akedin @apilloud @amaliujia @XuMingmin @xumingming @kennknowles
/sdks/java/container @herohde @aaltay
/sdks/java/fn-execution @lukecwik @angoenka
/sdks/java/nexmark @echauchot @aromanenko-dev
/sdks/java/build-tools @jasonkuster @swegner
/sdks/java/harness @lukecwik
/sdks/java/io @jbonofre @lukecwik @chamikaramj @timrobertson100
/sdks/java/io/parquet @lgajowy @jbonofre @aromanenko-dev
/sdks/java/io/common @chamikaramj @timrobertson100
/sdks/java/io/file-based-io-tests @lgajowy @kkucharc @chamikaramj @timrobertson100
/sdks/java/io/elasticsearch-tests @echauchot @timrobertson100
#/sdks/java/io/amazon-web-services
/sdks/java/io/google-cloud-platform @lukecwik @chamikaramj
/sdks/java/io/hadoop-input-format @aromanenko-dev @timrobertson100
/sdks/java/io/solr @timrobertson100
/sdks/java/io/kinesis @aromanenko-dev
/sdks/java/io/redis @jbonofre
/sdks/java/io/mongodb @jbonofre
/sdks/java/io/hcatalog @timrobertson100
/sdks/java/io/elasticsearch @echauchot @jbonofre @timrobertson100
/sdks/java/io/jdbc @jbonofre @timrobertson100
/sdks/java/io/mqtt @jbonofre
/sdks/java/io/hadoop-file-system @timrobertson100
/sdks/java/io/amqp @jbonofre
/sdks/java/io/cassandra @jbonofre @echauchot
#/sdks/java/io/tika
#/sdks/java/io/xml
#/sdks/java/io/kafka
/sdks/java/io/jms @jbonofre
/sdks/java/io/hbase @timrobertson100 @aromanenko-dev
/sdks/java/io/hadoop-common @timrobertson100
#/sdks/java/maven-archetypes
/sdks/java/javadoc @melap

/sdks/python/ @aaltay @charlesccychen
/sdks/python/scripts @aaltay
/sdks/python/container @herohde @aaltay @charlesccychen
/sdks/python/apache_beam/runners @pabloem @charlesccychen
/sdks/python/apache_beam/utils @pabloem @charlesccychen
/sdks/python/apache_beam/examples @aaltay @charlesccychen
/sdks/python/apache_beam/internal @aaltay @charlesccychen
/sdks/python/apache_beam/tools @pabloem @charlesccychen
/sdks/python/apache_beam/coders @charlesccychen
/sdks/python/apache_beam/portability @charlesccychen @robertwb @aaltay
/sdks/python/apache_beam/typehints @charlesccychen
/sdks/python/apache_beam/options @pabloem @charlesccychen
/sdks/python/apache_beam/transforms @pabloem @aaltay @charlesccychen
/sdks/python/apache_beam/testing @pabloem @aaltay
/sdks/python/apache_beam/metrics @pabloem @aaltay
/sdks/python/apache_beam/io @chamikaramj @aaltay @udim

# Build and test infrastructure reviewers.
#/.github
/.test-infra @lgajowy
/.test-infra/jenkins @lgajowy @kkucharc @echauchot
/.test-infra/jupyter @udim
/.test-infra/kubernetes @lgajowy @kkucharc
/buildSrc @lukecwik
/gradle @lukecwik
/release @jbonofre
#/release/src
#/website/.jenkins
build.gradle @lukecwik

# Even more components reviewers.
#/runners
#/runners/samza
/runners/gcp @pabloem @herohde @lukecwik @aaltay
#/runners/apex
/runners/core-java @lukecwik
/runners/core-java/src/main/java/org/apache/beam/runners/core/metrics @echauchot
/runners/local-java @lukecwik
/runners/java-fn-execution @lukecwik @angoenka
/runners/core-construction-java @lukecwik
/runners/flink @angoenka
/runners/spark @jbonofre
/runners/reference @lukecwik
#/runners/gearpump
/runners/extensions-java/metrics/src/main/java/org/apache/beam/runners/extensions/metrics @echauchot
/runners/google-cloud-dataflow-java @pabloem @lukecwik
/runners/direct-java @lukecwik

/examples @aaltay
/examples/java @lukecwik @aaltay

/model @herohde @lukecwik
/model/fn-execution @herohde @robertwb @lukecwik
/model/job-management @herohde @robertwb @lukecwik
/model/pipeline @herohde @robertwb @lukecwik

/website @melap @timrobertson100
/website/src @melap @timrobertson100
