<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d [%thread] %level %logger{36} - %msg%n</pattern>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger additive="true" level="debug" name="cz.seznam.euphoria"/>

</configuration>
