<li><span class="section-nav-list-main-title">Contribute</span></li>
<li><a href="{{ site.baseurl }}/contribute">Get started contributing</a></li>
<li>
  <span class="section-nav-list-title">How to contribute</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/contribution-guide/">Contribution guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/website-contributions/">Website contributions</a></li>
    <li><a href="{{ site.baseurl }}/contribute/feature-branches/">Feature branches</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Committers</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/become-a-committer/">Become a committer</a></li>
    <li><a href="{{ site.baseurl }}/contribute/committer-guide/">Committer guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/team/">Team</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">IDE tips</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/intellij/">IntelliJ Tips</a></li>
    <li><a href="{{ site.baseurl }}/contribute/eclipse/">Eclipse Tips</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Other Guides</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/testing/">Testing guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/release-guide/">Release guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/ptransform-style-guide/">PTransform style guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/runner-guide/">Runner authoring guide</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Technical References</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/design-principles/">Design principles</a></li>
    <li><a href="{{ site.baseurl }}/contribute/portability/">Portability Framework</a></li>
    <li><a href="{{ site.baseurl }}/contribute/work-in-progress/">Ongoing projects</a></li>
    <li><a href="{{ site.baseurl }}/contribute/source-repository/">Source repository</a></li>
    <li><a href="{{ site.baseurl }}/contribute/docker-images/">Docker images</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Promotion</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/presentation-materials/">Presentation materials</a></li>
    <li><a href="{{ site.baseurl }}/contribute/logos/">Logos and design</a></li>
  </ul>
</li>
<li><a href="{{ site.baseurl }}/contribute/maturity-model/">Maturity Model</a></li>
