<li><span class="section-nav-list-main-title">Get started</span></li>
<li><a href="{{ site.baseurl }}/get-started/beam-overview/">Beam Overview</a></li>
<li>
  <span class="section-nav-list-title">Quickstarts</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/get-started/quickstart-java/">Quickstart - Java</a></li>
    <li><a href="{{ site.baseurl }}/get-started/quickstart-py/">Quickstart - Python</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Example Walkthroughs</span>
  <ul class="section-nav-list">
     <li><a href="{{ site.baseurl }}/get-started/wordcount-example/">WordCount</a></li>
     <li><a href="{{ site.baseurl }}/get-started/mobile-gaming-example/">Mobile Gaming</a></li>
   </ul>
</li>
<li><a href="{{ site.baseurl }}/get-started/downloads">Downloads</a></li>

