/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@import "media";

.graphic {
  text-align: center;
  h2 {
    @extend .component-title;
  }
  .images {
    max-width: 868px;
    margin: 0 auto;
    height: 60px;
  }
  .margin {
    margin-top: 0px;
    margin-bottom: 30px;
    @media (max-width: $mobile) {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .row-image {
    display: block;
    @media (max-width: 1024px) {
     display: none;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
    .logos-row {
      display: flex;
      align-items: center;
      margin-top: 20px;
      max-height: 73px;
      @media (max-width: $mobile) {
        margin-top: 64px;
      }
      img {
        height: auto;
        width: 112px;
      }
    }
    .first_logo {
      margin-right: 18px;
    }
    #last_logo {
      margin-left: 18px;
      width: 55px;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 306px;

      h4 {
        margin-top: 32px;
      }
      .more {
        margin-top: 32px;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: #f26628;
      }
    }
    .icon {
      width: 34px;
      height: 44px;
      margin-top: 16px;
      @media (max-width: $mobile) {
        margin-top: 64px;
      }
    }
    img {
      max-width: 306px;
      height: 42px;
    }
  }
}
