/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

 @import "media";
 @import "typography";

 .hero-desktop {
   position: relative;
   margin-bottom: 0;
   width: 100%;
   height: 100%;
   display: inherit;
   // TODO - revert margin-top to -30px after summit is over when removing banner
   margin-top: 0;
   min-height: 361px;
   .hero-content {
     position: absolute;
     z-index: 1;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;

     h3 {
       @extend .hero-title;
       text-transform: uppercase;
       margin: 0 auto 24px auto;
     }

     h1 {
       @extend .hero-heading;
       width: 600px;
       height: 92px;
       font-size: 46px;
       margin: 0 auto 30px auto;
     }

     h2 {
       @extend .hero-subheading;
       width: 550px;
       margin: 0 auto 55px auto;
     }

     a {
       text-decoration: none;
     }

     button {
       width: 204px;
       height: 46px;
       border-radius: 100px;
       box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16),
         0 4px 4px 0 rgba(0, 0, 0, 0.06);
       background-color: $color-white;
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       border: none;
       outline: none;
       svg {
         width: 14px;
         height: 16px;
       }
       span {
         text-transform: uppercase;
         font-size: 14px;
         font-weight: bold;
         letter-spacing: 0.6px;
         line-height: 1.14;
         color: $color-sun;
         margin-left: 12px;
       }
     }

     button:hover {
       background-color: $color-white;
       box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.24),
         0 4px 6px 0 rgba(0, 0, 0, 0.24);
     }

     button:focus {
       box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16),
         0 4px 4px 0 rgba(0, 0, 0, 0.06);
     }
   }
 }

 @media (max-width: $tablet) {
   .hero-desktop {
     margin-top: 64px;

     .hero-content {
       h3 {
         margin: 0 auto 16px auto;
       }

       h1 {
         width: 300px;
         margin: 0 auto 24px auto;
         font-size: 32px;
       }

       h2 {
         width: 300px;
         margin: 0 auto;
       }

       button {
         display: none;
       }
     }
   }
 }

@media (max-width: $mobile) {
  .hero-desktop {
    display: none;
  }
}
