/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
 @import "media";

.page-nav {
    overflow-y: auto;
    max-height: calc(100vh - 130px);
    position: fixed;
    width: 248px;
    margin-left: 30px;
    li {
        display: block;
        width: 100%;
        min-height: 36px;
        a {
            color: #37424b;
            display: block;
            font-size: 12px;
            padding: 5px;
            letter-spacing: .43px;
        }
        span {
            font-size: 12px;
        }
        ul {
            padding-left: 20px;
        }
    }
    .nav {
        img {
            height: 14px;
            width: 10px;
            vertical-align: text-bottom;
            transition: .3s;
            margin-right: 8px;
        }
        .rotate {
            transform: rotate(-90deg);
            transition: .3s;
        }
        >li {
            padding: 0 15px;
            border-left: 3px solid #d8d8d8;
        }
        .chosen {
            position: relative;
            >a {
                text-decoration: underline;
                font-weight: 500;
                &::before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: -18px;
                    height: 100%;
                    min-height: 36px;
                    border-left: 3px solid #ff6d05;
                }
            }
        }
    }
    #TableOfContents>ul {
        margin-bottom: 0;
    }
}

.page-nav .nav>li>:hover {
    border-radius: 8px
}

.page-nav .nav>li>ul>li>:hover {
    border-radius: 8px;
    background-color: #f2f2f2;
    text-decoration: none
}

@media(max-width: $ak-breakpoint-lg) {
    .page-nav {
        display: none;
    }
}
