/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@import "media";

.quote-img-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quote-img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    object-fit: contain;
  }
}

.wrap-slide {
  padding: 20px;
  width: 100%;
  max-width: 33.33%;
  display: flex;
  justify-content: center;
}

.quotes-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.quotes {
  padding: 40px 30px 10px;
  background-color: $color-medium-gray;
  width: 100%;

  .quotes-title {
    @extend .component-title;

    margin-top: 0;
    text-align: center;
    border: none;
  }

  .quotes-desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }

  .quote-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: 544px;
    margin: 76px 0 20px 0;
    padding: 55px 20px 24px 20px;
    border-radius: 16px;
    background-color: $color-white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06);

    .quote-text {
      @extend .component-quote;

      min-height: 230px;
      height: 230px;
      margin: 88px 0 20px 0;
    }

    img {
      display: block;
      max-height: 118px;
    }
  }

  .dots-JS {
    display: none;
  }

  .keen-slider {
    width: 327px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: $color-white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06);

    .keen-slider__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 327px;
      height: 468px;
      padding: 55px 24px 24px 24px;

      .quote-text {
        @extend .component-quote;

        margin: 108px 0 20px 0;
      }

      img {
        width: 172px;
      }
    }
  }

  .keen-slider-JS {
    display: none;
  }

  .dots {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
  }

  .dot {
    border: none;
    width: 13px;
    height: 13px;
    background: $color-smoke;
    border-radius: 50%;
    margin: 0 5px;
    padding: 4px;
    cursor: pointer;
  }

  .dot:focus {
    outline: none;
  }

  .dot--active {
    background: $color-sun;
  }

  .keen-slider-JS.visible {
    display: flex;
  }
}

@media (max-width: $tablet) {
  .quotes {

    .quotes-title {
      margin-bottom: 64px;
    }

    h2 {
      margin-bottom: 0 !important;
    }

    .quote-mobile {
      display: flex;
      width: 100%;
      overflow: hidden;
    }

    .keen-slider-JS {
      display: none;
    }

  }
}
