# var.env example, please create a var.env file with the corresponding values of the variables
GOOGLE_APPLICATION_CREDENTIALS=
CLOUD_FUNCTION_NAME=
ORG_RUNNER_GROUP=
ORG_NAME=
GCP_REGION=
GCP_PROJECT_ID=