<li><span class="section-nav-list-main-title">Contribute</span></li>
<li><a href="{{ site.baseurl }}/contribute/">Get started contributing</a></li>
<li>
  <span class="section-nav-list-title">IDE tips</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/intellij/">IntelliJ Tips</a></li>
    <li><a href="{{ site.baseurl }}/contribute/eclipse/">Eclipse Tips</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Technical Docs</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/testing/">Testing guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/ptransform-style-guide/">PTransform style guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/runner-guide/">Runner authoring guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/portability/">Portability Framework</a></li>
    <li><a href="{{ site.baseurl }}/contribute/docker-images/">Docker images</a></li>
    <li><a href="{{ site.baseurl }}/contribute/design-documents/">Design documents</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Committers</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/become-a-committer/">Become a committer</a></li>
    <li><a href="{{ site.baseurl }}/contribute/committer-guide/">Committer guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/release-guide/">Release guide</a></li>
  </ul>
</li>
