<li><span class="section-nav-list-main-title">Contribute</span></li>
<li><a href="{{ site.baseurl }}/contribute">Get started contributing</a></li>
<li>
  <span class="section-nav-list-title">Guides</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/contribution-guide/">Contribution Guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/testing/">Testing guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/release-guide/">Release guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/ptransform-style-guide/">PTransform style guide</a></li>
    <li><a href="{{ site.baseurl }}/contribute/runner-guide/">Runner authoring guide</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Technical References</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/design-principles/">Design principles</a></li>
    <li><a href="{{ site.baseurl }}/contribute/work-in-progress/">Ongoing projects</a></li>
    <li><a href="{{ site.baseurl }}/contribute/source-repository/">Source repository</a></li>
    <li><a href="{{ site.baseurl }}/contribute/docker-images/">Docker images</a></li>
  </ul>
</li>
<li>
  <span class="section-nav-list-title">Promotion</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute/presentation-materials/">Presentation materials</a></li>
    <li><a href="{{ site.baseurl }}/contribute/logos/">Logos and design</a></li>
  </ul>
</li>
<li><a href="{{ site.baseurl }}/contribute/maturity-model/">Maturity Model</a></li>
<li><a href="{{ site.baseurl }}/contribute/team/">Team</a></li>
