<hr>
  <div class="row">
      <div class="col-xs-12">
          <footer>
              <p class="text-center">
                &copy; Copyright
                <a href="http://www.apache.org">The Apache Software Foundation</a>,
                {{ 'now' | date: "%Y" }}. All Rights Reserved.
              </p>
              <p class="text-center">
                <a href="{{ site.baseurl }}/privacy_policy">Privacy Policy</a> |
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
              </p>
          </footer>
      </div>
  </div>
  <!-- container div end -->
</div>
