<nav class="header navbar navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{{ site.baseurl }}/" class="navbar-brand" >
        <img alt="Brand" style="height: 25px" src="{{ "/images/beam_logo_navbar.png" | prepend: site.baseurl }}">
      </a>
    </div>

    <div class="navbar-mask closed"></div>

    <div id="navbar" class="navbar-container closed">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.baseurl }}/get-started/beam-overview/">Get Started</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/documentation/">Documentation</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/documentation/sdks/java/">SDKS</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/documentation/runners/capability-matrix/">RUNNERS</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/contribute/">Contribute</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/community/contact-us/">Community</a>
        </li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="https://www.apache.org/foundation/press/kit/feather_small.png" alt="Apache Logo" style="height:20px;"><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="http://www.apache.org/">ASF Homepage</a></li>
            <li><a href="http://www.apache.org/licenses/">License</a></li>
            <li><a href="http://www.apache.org/security/">Security</a></li>
            <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
            <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
            <li><a href="https://www.apache.org/foundation/policies/conduct">Code of Conduct</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
