<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
    <listEntry value="/google-cloud-dataflow-starter/src/main/java/com/google/cloud/dataflow/starter/StarterPipeline.java"/>
  </listAttribute>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
    <listEntry value="1"/>
  </listAttribute>
  <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
  <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.cloud.dataflow.starter.StarterPipeline"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--runner=BlockingDataflowPipelineRunner&#10;--project=PUT_YOUR_GOOGLE_CLOUD_PROJECT_HERE&#10;--stagingLocation=gs://PUT_YOUR_GOOGLE_CLOUD_STORAGE_BUCKET_HERE/"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="google-cloud-dataflow-starter"/>
  <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
