<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand" >
        <img alt="Brand" src="{{ "/images/beam_logo_navbar.png" | prepend: site.baseurl }}">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/getting_started/">Getting Started</a></li>
	    <li><a href="{{ site.baseurl }}/capability-matrix/">Capability Matrix</a></li>
            <li><a href="https://goo.gl/ps8twC">Technical Docs</a></li>
            <li><a href="https://goo.gl/nk5OM0">Technical Vision</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Community</li>
            <li><a href="{{ site.baseurl }}/mailing_lists/">Mailing Lists</a></li>
            <li><a href="https://goo.gl/ps8twC">Technical Docs</a></li>
            <li><a href="https://goo.gl/nk5OM0">Technical Vision</a></li>
            <li><a href="{{ site.baseurl }}/team/">Apache Beam Team</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Contribute</li>
            <li><a href="{{ site.baseurl }}/contribution-guide/">Contribution Guide</a></li>
            <li><a href="{{ site.baseurl }}/source_repository/">Source Repository</a></li>
            <li><a href="{{ site.baseurl }}/issue_tracking/">Issue Tracking</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<link rel="stylesheet" href="">
