<!DOCTYPE html>
<html data-mobile-support="" data-search="" data-hero-banner="" data-platform-downloads="">
<head>
    <meta http-equiv="content-type" context="text/html" charset="UTF-8">
    <title>Apache Beam</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
          id="Viewport" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet"
          type="text/css"/>
    <link href="css/beam.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <meta content="Apache Beam" property="og:title">
    <meta content="images/beam.png" property="og:image">
    <meta content="The unified programming model for Big Data, running on any engine" property="og:description">
</head>
<body>
<div class="viewport">
    <header class="navbar header--navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="beam-logo--container">
                    <a class="beam-logo" href="index.html"><span></span></a>
                </div>
                <ul class="nav pull-right">
                    <li class="navbar-link">
                        <a href="download.html">Download</a>
                    </li>
                    <li class="navbar-link">
                        <a href="documentation.html">Documentation</a>
                    </li>
                    <li class="navbar-link">
                        <a href="overview.html">Overview</a>
                    </li>
                    <li class="navbar-link">
                        <a href="community.html">Community</a>
                    </li>
                    <li class="navbar-link">
                        <a href="http://www.apache.org"><img src="images/apache-feather-tm.png" width="45px"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="header--container"></div>
    <div class="container-fluid"></div>
    <div>
        <div class="homepage--body">
            <h1>Apache Beam</h1>
            <section class="billboard--wrapper homepage-billboard">
                <div class="billboard--container">
                    <div class="container-fluid">
                        <div class="homepage-title--container">
                            <h2 class="homepage-title">
                                The unified programming model for Big Data, running on any engine
                            </h2>

                            <div class="homepage-subtitle--container desktop-only">
                                <div class="homepage-subtitle">
                                    Beam provides an advanced unified programming model, allowing you to implement batch and streaming data processing jobs.
                                </div>
                                <div class="homepage-subtitle">
                                    Your code runs on any execution engines.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="key-feature--wrapper">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span4 key-feature--container">
                            <div class="key-feature--icon--container">
                                <div class="key-feature--icon icon">
                                    <img src="images/container.png" width="100px" height="100px"/>
                                </div>
                            </div>
                            <h3 class="key-feature--title">Unified Programming Model</h3>

                            <div class="key-feature--text">
                                The same programming model for batch and streaming.
                            </div>
                        </div>
                        <div class="span4 key-feature--container">
                            <div class="key-feature--icon--container">
                                <div class="key-feature--icon icon">
                                    <img src="images/enterprise.png" width="100px" height="100px"/>
                                </div>
                            </div>
                            <h3 class="key-feature--title">Execution Engine Agnostic</h3>

                            <div class="key-feature--text">
                                The same code runs on any execution engine.
                                Don't rewrite your jobs: they will run on Apache Flink, Apache Spark, ... without any change.
                            </div>
                        </div>
                        <div class="span4 key-feature--container">
                            <div class="key-feature--icon--container">
                                <div class="key-feature--icon icon">
                                    <img src="images/cloud.png" width="100px" height="100px"/>
                                </div>
                            </div>
                            <h3 class="key-feature--title">SDKs and IOs</h3>

                            <div class="key-feature--text">
                                To write your jobs, you have the choice: use the standard Java SDK, use the Python SDK, ...
                                Beam also provides a rich connectivity layer: the IOs to consume or produce data on other systems (Apache Kafka, ...).
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero--banner">
                <div class="slider single-item">
                    {{ content }}
                </div>
                <div>
                    <center><a href="news.html">All News</a></center>
                </div>
            </section>
            <section class="offset-feature--wrapper">
                <div class="offset-feature--container feature-guides">
                    <div class="container-fluid">
                        <div class="row-fluid feature--content">
                            <div class="span8 mobile-left-pane">
                                <div class="offset-feature--title">Apache & OpenSource</div>
                                <div class="offset-feature--text">
                                    Beam is your project !
                                    Beam is an <a href="http://www.apache.org">Apache Software Foundation</a> project,
                                    available under the Apache v2 license.<br/>
                                    It's a complete open community, always listening proposals and comments.<br/>
                                    <a href="community.html">Sources</a>, <a href="community.html">mailing lists</a>, <a
                                        href="community.html">issue tracker</a>: it's fully open, you can access
                                    directly.<br/>
                                    We also love contributions: don't hesitate to <a
                                        href="community.html">contribute</a>.
                                </div>
                                <a class="offset-feature--link" href="community.html">Be Involved In The Community</a> |
                                <a class="offset-feature--link" href="community.html">How To Contribute</a>
                            </div>
                            <div class="offset8">
                                <img src="images/apache.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-feature--container">
                    <div class="container-fluid">
                        <div class="row-fluid feature--content">
                            <div class="span4">
                                <img src="images/puzzle.png"/>
                            </div>
                            <div class="offset4 mobile-left-pane">
                                <div class="offset-feature--title">Overview</div>
                                <div class="offset-feature--text">
                                    Beam is composed by:<br/><br/>
                                    <ul style="list-style-position: inside">
                                        <li>An unified <a href="programmingmodel.html">programming model</a> providing support of both batch and streaming jobs design.</li>
                                        <li><a href="sdks.html">SDKs and DSLs</a> implementing the model: you have the choice of the language you want to use. Pick your: Java, Python, Scala, ...</li>
                                        <li>Thanks to the <a href="runners.html">runners</a>, your jobs can run everywhere, on any execution engine: Apache Flink, Apache Spark, Google Cloud Dataflow, ...</li>
                                        <li>The <a href="io.html">IOs</a> allows you to get or put data with other data sources: Apache Kafka, JMS, Apache Cassandra, ...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-feature--container">
                    <div class="container-fluid">
                        <div class="row-fluid feature--content">
                            <div class="span8 mobile-left-pane">
                                <div class="offset-feature--title">Documentation</div>
                                <div class="offset-feature--text">
                                    Ready, efficient, and productive with Beam in a minute !<br/>
                                    <br/>
                                    Find all you need to start with Beam ...
                                </div>
                                <a class="offset-feature--link" href="documentation.html">Read Documentation</a>
                            </div>
                            <div class="offset8">
                                <img src="images/book.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="body--container container-fluid "></div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    &copy; <span>2016</span> <a href="http://www.apache.org">Apache Software Foundation</a> - <a
                        href="privacy.html">Privacy Policy</a><br/>
                    Apache Beam, Beam, Apache, the Apache feather logo, and the Apache Beam project logo are
                    trademarks of The Apache Software Foundation.
                </div>
            </div>
        </div>
    </footer>
    <div id="scrim"></div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.single-item').slick({
            infinite: true,
            arrows:false,
            dots: true,
            autoplay: true,
            autoplaySpeed: 3000,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });

</script>

</body>

</html>
