<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand" >
        <img alt="Brand" style="height: 25px" src="{{ "/images/beam_logo_navbar.png" | prepend: site.baseurl }}">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Use <span class="caret"></span></a>
		  <ul class="dropdown-menu">
			  <li><a href="{{ site.baseurl }}/docs/use/">User Hub</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ site.baseurl }}/docs/use/beam-overview">Beam Overview</a></li>
			  <li><a href="{{ site.baseurl }}/getting_started/">Quickstart</a></li>
			  <li class="dropdown-header">Example Walkthroughs</li>
			  <li><a href="{{ site.baseurl }}/docs/use/walkthroughs">WordCount</a></li>
			  <li><a href="{{ site.baseurl }}/docs/use/walkthroughs">Mobile Gaming</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ site.baseurl }}">Release Information</a></li>
			  <li class="dropdown-header">Support Resources</li>
			  <li><a href="{{ site.baseurl }}/mailing_lists/">Mailing Lists</a></li>
              <li><a href="{{ site.baseurl }}/issue_tracking/">Issue Tracking</a></li>
			  <li><a href="http://stackoverflow.com/questions/tagged/apache-beam">Beam on StackOverflow</a></li>
              <li><a href="http://apachebeam.slack.com">Beam Slack Channel</a></li>
		  </ul>
	    </li>
        <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn <span class="caret"></span></a>
		  <ul class="dropdown-menu">
			  <li><a href="{{ site.baseurl }}/docs/learn/">Learner Hub</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ site.baseurl }}/docs/learn/programming-guide/">Beam Programming Guide</a></li>
			  <li><a href="{{ site.baseurl }}/capability-matrix/">Capability Matrix</a></li>
			  <li><a href="https://goo.gl/ps8twC">Additional Technical Docs</a></li>
		  </ul>
	    </li>
        <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribute <span class="caret"></span></a>
		  <ul class="dropdown-menu">
			  <li><a href="{{ site.baseurl }}/docs/contribute/">Contributor Hub</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ site.baseurl }}/contribution-guide/">Contribution Guide</a></li>
			  <li><a href="https://goo.gl/nk5OM0">Technical Vision</a></li>
			  <li class="dropdown-header">Resources</li>
			  <li><a href="{{ site.baseurl }}/mailing_lists/">Mailing Lists</a></li>
              <li><a href="{{ site.baseurl }}/source_repository/">Source Repository</a></li>
              <li><a href="{{ site.baseurl }}/issue_tracking/">Issue Tracking</a></li>
			  <li class="dropdown-header">Project Materials</li>
			  <li><a href="{{ site.baseurl }}/presentation-materials/">Presentation Materials</a></li>
			  <li><a href="{{ site.baseurl }}/public-meetings/">Public Meetings</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ site.baseurl }}/team/">Apache Beam Team</a></li>
		  </ul>
	    </li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/presentation-materials/">Presentation Materials</a></li>
            <li><a href="{{ site.baseurl }}/material/">Logos and design</a></li>
            <li><a href="http://apache.org/licenses/LICENSE-2.0.html">License</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<link rel="stylesheet" href="">
