<li><span class="section-nav-list-main-title">Community</span></li>
<li><a href="{{ site.baseurl }}/community/contact-us">Contact Us</a></li>
<li>
  <span class="section-nav-list-title">Promotion</span>

  <ul class="section-nav-list">
    <li><a href="{{ site.baseurl }}/community/presentation-materials/">Presentation materials</a></li>
    <li><a href="{{ site.baseurl }}/community/logos/">Logos</a></li>
  </ul>
</li>
<li><a href="https://projects.apache.org/committee.html?beam" target="_blank">Team <img src="{{ site.baseurl }}/images/external-link-icon.png"
                                                                                            width="14" height="14"
                                                                                            alt="External link to Beam roster">
	</a></li>
