# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build And Deploy Playground Backend Application

on:
  push:
    tags: 'v*'
  pull_request:
    tags: 'v*'
    paths: ['playground/backend/**']
  workflow_dispatch:

jobs:
  build_playground_backend_docker_image:
    name: Build Playground Backend App
    runs-on: ubuntu-latest
    env:
      GO_VERSION: 1.17.0
      BEAM_VERSION: 2.33.0
      TERRAFOM_VERSION: 1.0.9
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: joschi/setup-jdk@v2
        with:
            java-version: '8'
      - uses: actions/setup-go@v2
        with:
            go-version: '${{ env.GO_VERSION }}'
      - name: Remove default github maven configuration
        # This step is a workaround to avoid a decryption issue
        run: rm ~/.m2/settings.xml
      - name: Run PreCommit
        run: ./gradlew playground:backend:precommit
      - name: install npm
        uses: actions/setup-node@v2
        with:
            node-version: '14'
      - name: install docker linter
        run: npm install  -g dockerlint
      - name: lint dockerfile
        run: dockerlint Dockerfile
        working-directory: playground/backend/containers/java
      - uses: hashicorp/setup-terraform@v1
        with:
            terraform_version: ${{ env.TERRAFORM_VERSION }}
        if: startsWith(github.ref, 'ref/tags/')        
      - name: Setup GCP account
        run: echo ${{ secrets.GCP_ACCESS_KEY }} | base64 -d > /tmp/gcp_access.json
        if: startsWith(github.ref, 'ref/tags/') 
      - name: Login to Docker Registry
        run: cat /tmp/gcp_access.json | docker login -u _json_key --password-stdin https://${{ secrets.REGISTRY_NAME }}
        if: startsWith(github.ref, 'ref/tags/')
      - name: Preapre Build
        run: ./gradlew playground:backend:containers:java:dockerPush -Pdocker-repository-root='${{ secrets.REGISTRY_NAME}}/${{ secrets.PROJECT_ID }}/playground-repository' -Pbase-image='apache/beam_java8_sdk:${{ env.BEAM_VERSION }}'
        if: startsWith(github.ref, 'ref/tags/')
      - name: Deploy Backend Application
        env: 
          GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcp_access.json
        run: terraform init && terraform apply -auto-approve -var="project_id=${{ secrets.PROJECT_ID }}" -var="docker_registry_address=${{ secrets.REGISTRY_NAME}}/${{ secrets.PROJECT_ID }}/playground-repository"
        working-directory: playground/terraform/applications/backend
        if: startsWith(github.ref, 'ref/tags/')
