name: Build And Publish to Dockerhub
on:
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: elink21
          password: ${{secrets.DOCKER_HUB_TOKEN}}
          
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install go 
        uses: actions/setup-go@v3
        with:
          go-version: '^1.13.1' # The Go version to download (if necessary) and use.
      - name: Install python 
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
        
      - name: Setup Java
        uses: actions/setup-java@v3
        with: 
          distribution: 'temurin'
          java-version: |
            11
            8            
      - name: Echoing java Home
        run: echo $JAVA_HOME_11_X64
      - name: Exporting Java_HOME to Java 8
        run: echo "JAVA_HOME=${JAVA_HOME_8_X64}" >> $GITHUB_ENV
      - name: Installing ensurepip
        run: sudo apt install -y python3.8-venv
      - name: Testing gradlew publish
        run: ./gradlew :pushAllDockerImages  -Pdocker-pull-licenses -Pdocker-tag="1rc1" -Pdocker-repository-root="elink21" -Pjava11Home=${JAVA_HOME_11_X64} 