name: Precommit Community Metrics
run-name: Community Metrics Precommit
on:
  pull_request:
    branches: [ "master", "release-*" ]
    paths: [ ".test-infra/metrics/.*$"]
  issue_comment:
    types: [created, edited]


jobs:
  CommunityMetricsPrecommit:
    if: ${{github.event.issue.pull_request}} || ${{github.event.comment.body == 'Run PythonDocker PreCommit'}} || ${{github.event.schedule == '* */6 * * *'}}
    runs-on: [self-hosted, ubuntu-20.04]
    defaults:
      run:
        working-directory: sdks/python


    steps:
      - uses: actions/checkout@v3
      - name: Install Java
        uses: actions/setup-java@v3.8.0
        with:
          distribution: 'zulu'
          java-version: '8'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: false
      - name: run Community Metrics Precommit script
        run: ./gradlew :communityMetricsPreCommit
